.add {
    background: #f2f2f2;
    border: none;
}

.tempContent {
    background-color: white;
}

.borderBottom {
    border-bottom: 2px solid grey;
}

a {
    color: darkblue;
    font-size: 1.1rem;
}

a:hover {
    font-size: 1.2rem;
    text-decoration: none;
}

.selected {
    color: blue;
}
